name: dotfiles CI

on:
  push:
    branches: [ master ]
  pull_request:
    types: [ opened, synchronize, reopened, edited ]
  schedule:
    - cron: '0 3 * * 6'

jobs:
  build-docker:
    name: Install in Docker
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Build Docker image
        run: docker build . -t dotfiles

      - name: Run Dockerfile
        run: docker run dotfiles

  build:
    name: Install locally
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Unlink preinstalled node
      run: brew unlink node@12
      if: ${{ startsWith(matrix.os, 'macos') }}

    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Run install command
      run: ./install.sh

    - run: pwd
    - run: ls
    - run: HOME=$GITHUB_WORKSPACE exec zsh

    - name: Ensure zsh works
      run: if [[ -n $(zsh -c return) ]]; then exit 1; fi
