name: Shellcheck

on:
  push:
    branches: [ master ]
  pull_request:
    types: [ opened, synchronize, reopened, edited ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  shellcheck:
    name: Run shellcheck
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Setup shellcheck problem matchers
      uses: lumaxis/shellcheck-problem-matchers@v1

    - run: shopt -s dotglob
    - run: shellcheck -f gcc *.sh {bin,env,macos,runcom,system,test}/*
